.page-container {
  width: 95%;
  height: 3000px;
  margin: auto;
  background-color: linen;
}

button {
  background-color: aqua;
  padding: 20px 20px;
  font-weight: 2rem;
  font-size: 1.5rem;
}

.static {
  position: static;
}

.relative {
  position: relative;
  top: 20px;
  left: 30px;
}

/* relative to browser window we stick this button in the bottom right of the browser window */
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* relative to the first parent that is not static*/
.absolute {
  position: absolute;
  top: 20px;
  right: 200px;
}

div.relative {
  position: relative;
  top: 200px;
  left: 50px;
  width: 100%;
  height: 100px;
  background-color: darkblue;
}
