/* 

1. add 1000 for style attribute
2. add 100 for id
3. add 10 for each class
4. add 1 for each element

*/
body {
  background-color: floralwhite;	
}

h1 {
  color: rgb(0, 255, 0); 
}

.magenta {
  color: magenta;
}

h1.gold {
  color: gold;	
}

div>h1.darkgrey {
  color: darkgrey;
}

#cyan {
 color: cyan;
}

.marked p {
	color: orange;
}




